**Machine Learning Overview**

In [ ]:
#import all packages
import pandas as pd
import matplotlib.pyplot as plt
import re
import string
import nltk
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter
from pylab import *
nltk.download('punkt')
nltk.download('wordnet')
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

**read the valid data**

In [ ]:
#read the json data
review_data = pd.read_json('Musical_Instruments_5.json')
review_data[['reviewText','overall']].head()

                                          reviewText  overall
0  Not much to write about here, but it does exac...        5
1  The product does exactly as it should and is q...        5
2  The primary job of this device is to block the...        5
3  Nice windscreen protects my MXL mic and preven...        5
4  This pop filter is great. It looks and perform...        5

**do the lemmatization, tokenization and cleaning data**

In [ ]:
#do the lemmatization, tokenization and cleaning data
lemmatizer=WordNetLemmatizer()
review_data['cleaned_review_text']=review_data['reviewText'].apply(lambda x :' '.join([lemmatizer.lemmatize(word.lower()) for word in word_tokenize(re.sub(r'([^\s\w]|_)+',' ',str(x)))]))

#print the new cleaned data
review_data[['cleaned_review_text','reviewText','overall']].head()

                                 cleaned_review_text  ... overall
0  not much to write about here but it doe exactl...  ...       5
1  the product doe exactly a it should and is qui...  ...       5
2  the primary job of this device is to block the...  ...       5
3  nice windscreen protects my mxl mic and preven...  ...       5
4  this pop filter is great it look and performs ...  ...       5

[5 rows x 3 columns]

**create the TF-IDF frequency**

In [ ]:
#create the TF-IDF frequency
tfidf_model=TfidfVectorizer(max_features=500)
tfidf_df=pd.DataFrame(tfidf_model.fit_transform(review_data['cleaned_review_text']).todense())
tfidf_df.columns=sorted(tfidf_model.vocabulary_)
tfidf_df.head()

    10  100   12   20      able  ...  yet       you  youll      your     youre
0  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.000000    0.0  0.000000  0.000000
1  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.073158    0.0  0.000000  0.000000
2  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.081666    0.0  0.111465  0.000000
3  0.0  0.0  0.0  0.0  0.338287  ...  0.0  0.000000    0.0  0.000000  0.000000
4  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.158665    0.0  0.000000  0.320765

[5 rows x 500 columns]

In [ ]:
#set the target data
review_data['target'] = review_data['overall'].apply(lambda x:0 if x<=4 else 1)
review_data['target'].value_counts()

1    6938
0    3323
Name: target, dtype: int64

**implement Logistic Regression**

In [ ]:
#implement Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(tfidf_df,review_data['target'])
predicted_labels=logreg.predict(tfidf_df)
logreg.predict_proba(tfidf_df)[:,1]

array([0.58721164, 0.62672131, 0.53073566, ..., 0.66908551, 0.55763822,
       0.24135068])

**compare the result of classification using crosstab**

In [ ]:
#compare the result of classification using crosstab
review_data['predicted_labels']=predicted_labels
pd.crosstab(review_data['target'],review_data['predicted_labels'])

predicted_labels     0     1
target
0                 1507  1816
1                  620  6318

**implement NaiveBayes**

In [ ]:
#implement NaiveBayes
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(tfidf_df,review_data['target'])
predicted_labels=nb.predict(tfidf_df)
nb.predict_proba(tfidf_df)[:,1]

array([9.99003326e-01, 1.05421334e-08, 1.10486128e-07, ...,
       1.00774767e-01, 9.78390087e-08, 7.69330206e-23])

**compare the result of classification using crosstab**

In [ ]:
#compare the result of classification using crosstab
review_data['predicted_labels_nb']=predicted_labels
pd.crosstab(review_data['target'],review_data['predicted_labels_nb'])

predicted_labels_nb     0     1
target
0                    2314  1009
1                    2393  4545

**implement KNN and compare result**

In [ ]:
#implement KNN and compare result
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(tfidf_df,review_data['target'])
review_data['predicted_labels_knn']=knn.predict(tfidf_df)
pd.crosstab(review_data['target'],review_data['predicted_labels_knn'])

predicted_labels_knn     0     1
target
0                     2637   686
1                      273  6665

**implement Linear Regression and compare result**

In [ ]:
#implement Linear Regression and compare result
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(tfidf_df,review_data['overall'])
linreg.coef_

array([ 1.22649447e-01,  4.40931711e-01,  3.23271023e-01, -2.33162401e-01,
        3.61114510e-01,  4.34718878e-01,  5.50682826e-01,  2.99511704e-01,
        4.62252743e-01,  5.93508646e-01,  7.20542839e-01, -3.42577396e-01,
       -2.52994615e-01,  3.81456696e-01, -6.65937244e-01, -9.47907152e-02,
        1.40799851e-01, -1.24491775e-01,  4.88601337e-01,  1.77830437e-01,
        8.10385480e-01, -4.08209372e-01,  1.11693628e-01, -3.79111146e-02,
        4.87290716e-01, -3.25573590e-01,  2.98768816e-01,  1.02962600e-01,
       -3.04871209e-01, -1.11659312e-01, -3.99392894e-02, -1.56503462e-01,
        2.53272469e-01, -7.51188824e-02,  1.01363158e+00, -1.18361969e+00,
       -1.08977857e+00,  1.79173769e-01, -5.24901116e-01,  2.45126478e-01,
        1.22103655e-01, -6.79357748e-02, -1.40192387e-03,  1.11696462e+00,
        6.23379499e-03,  1.79762994e-01, -7.09365348e-02,  7.86166962e-02,
        1.35545654e-01,  1.16308438e+00, -4.05823638e-01,  6.33110938e-02,
        5.06443704e-02,  1.88810619e-02,  3.51023453e-01,  2.33616094e-01,
        1.22119599e-01, -1.56429275e-01,  1.36452775e-01, -3.65944442e-01,
       -1.67642120e-01, -2.79445938e-01,  1.11279079e-02,  1.84959351e-01,
        1.34517314e-01,  1.74045361e-01,  6.37061301e-02, -1.14620814e-01,
        3.16105574e-01,  2.46308665e-01, -1.28520859e+00,  3.91163498e-01,
        2.99380070e-01,  2.80365320e-01, -1.65548816e-01,  7.65117848e-02,
        5.16232751e-01,  7.57681308e-01, -1.74060440e-01,  8.31597720e-02,
        5.53197908e-02,  5.37219076e-01,  1.21601554e-01, -8.19548037e-01,
        1.19426743e-01,  3.26333584e-01, -8.25226996e-02, -4.78032092e-01,
        2.46777018e-01,  4.36198339e-01,  6.78032481e-01, -8.56316577e-02,
        2.84201836e-01,  1.25010548e-01,  3.25258806e-01, -3.03132255e-02,
        3.40435803e-01, -5.32925304e-01,  1.10951446e-02, -3.55165972e-01,
        1.46811794e-01, -4.33749949e-01,  3.38030442e-01, -1.07395889e+00,
        1.09662232e+00,  2.95505532e-01,  2.45657090e-01, -2.27249237e-01,
       -2.25623544e-01, -4.41865776e-01, -7.86666710e-01,  4.48676603e-01,
        2.74539542e-01, -3.87856919e-01,  2.01885277e-01,  2.58333271e-01,
       -1.06396121e+00,  1.77389480e-01, -5.69590113e-01,  2.66249667e-01,
        2.59100211e-01,  3.74152294e-01, -1.73780771e-01,  4.67730801e-01,
        4.49162460e-01,  6.36584737e-01,  4.30853053e-01,  7.59162715e-01,
       -1.04043301e-01, -1.59229536e-01, -1.32798310e-01,  1.07649822e-01,
       -2.58771687e-01, -7.61417634e-03,  4.02014148e-01,  4.02780442e-01,
       -8.36030726e-01,  3.63390831e-01,  3.66139511e-01,  5.75954569e-01,
        8.37978408e-01,  9.70719019e-01, -1.10985499e-01,  2.07230326e-01,
        3.74442179e-01, -4.81931499e-02, -2.32696856e-01, -3.01097560e-02,
        3.84311202e-01,  4.86293813e-01,  4.83118438e-01, -2.21746243e-01,
        3.30905588e-01, -4.49531233e-02,  1.01418107e-02,  5.07240279e-02,
       -1.29908198e-01,  4.41648239e-01,  2.36851815e-01,  6.57953888e-02,
       -8.53788377e-02, -8.86798079e-02, -1.32594325e-01, -3.90265688e-01,
        4.05338758e-01, -2.19522718e-02, -4.84089503e-01, -1.58222160e-01,
       -6.64108625e-01, -4.67871407e-01,  7.45561652e-02,  4.97266353e-01,
       -4.38681200e-02, -1.28079392e-02,  3.38207482e-01, -1.88489576e-01,
        1.22586988e+00,  1.24547745e-02,  5.57883553e-01,  1.01064785e-01,
        3.59938618e-02,  2.03170315e-01,  5.87014227e-01, -6.70076192e-01,
       -1.23082083e-01,  4.53394294e-01,  5.50981525e-02,  2.44967020e-01,
        2.23073776e-03, -5.59659651e-02,  7.87570636e-02, -4.48208357e-01,
        6.15796105e-01, -8.93494850e-02,  1.78008330e-02,  6.33234328e-02,
        9.36309011e-01,  8.79845002e-02,  7.21740355e-02,  3.16108705e-01,
       -3.58900031e-01,  3.32420626e-01, -1.36265638e+00,  4.62999858e-02,
       -6.08494384e-01, -4.36677885e-01,  9.42088653e-02,  2.01106231e-01,
        1.63978942e-01, -8.31123876e-03, -4.12236676e-01,  3.35378155e-01,
       -1.55424702e-01, -1.08973945e-01, -3.63974251e-01,  1.44441308e-01,
       -2.51975701e-01, -4.59985482e-01, -5.71470727e-01,  5.86390740e-01,
       -2.27428726e-01,  2.39167456e-01, -8.46687843e-02,  2.01500426e-01,
       -4.14712724e-01,  1.14181531e-01,  5.03462582e-01, -7.74377364e-02,
        1.92215141e-01, -3.74884748e-01,  4.62521449e-02, -2.66393032e-01,
        5.06427696e-02,  2.65606370e-01,  5.73451661e-01, -2.28178788e-01,
        2.86470781e-01, -2.67391788e-01,  1.34999740e-01,  8.43563607e-02,
       -3.08981362e-01,  4.93192343e-01,  5.51800263e-01,  1.90980842e-01,
        1.36081271e-01,  1.88613966e-01,  3.16988423e-01,  9.67487646e-01,
       -3.46798771e-01,  1.92431837e-01,  4.08202787e-03,  6.12698276e-01,
        6.09534980e-02, -4.36082113e-01, -1.22084764e+00, -6.53540953e-02,
       -6.57549734e-01,  4.44834635e-02,  7.63295460e-02,  4.63633839e-01,
        5.90907961e-02, -3.09087296e-01, -1.75274746e-01, -1.98450880e-02,
       -2.03537386e-01, -8.19710486e-01, -6.66029633e-01,  3.64929548e-02,
        2.25013297e-01, -1.19855252e-01,  3.26025372e-01,  4.08529657e-01,
       -7.98131132e-02,  3.77334612e-01,  5.07321419e-01, -2.54160887e-01,
        5.46006747e-01,  7.27283876e-01, -5.60886120e-02,  2.39705542e-01,
        1.45425958e-01,  5.18603450e-01,  2.17094616e-01, -1.26435750e-01,
       -1.66866889e+00,  1.17511365e-01, -3.39463689e-01,  1.24249469e-02,
       -5.28621649e-02, -5.43491006e-01, -1.97400559e+00,  1.61839250e-01,
        2.58305710e-01, -1.59074256e-01,  2.96665145e-01, -5.28527930e-01,
       -5.72769182e-02, -4.78448694e-02,  2.17650513e-01, -4.90463002e-01,
       -3.94423146e-01, -5.15178259e-01, -3.12322449e-01,  1.55253130e-01,
       -1.45456790e-01, -8.02314936e-01,  6.52258610e-01,  8.16875771e-02,
        3.39544175e-01,  1.21760481e-01,  3.58971178e-01, -9.89366322e-01,
        1.52952952e-01,  3.69735098e-02,  1.07586462e+00,  1.20242550e+00,
        2.84811741e-01, -2.52666693e-01, -7.97406126e-01, -2.01912667e-01,
       -4.71706906e-01, -2.94928067e-01,  3.71604424e-01,  6.17951256e-01,
        4.48038834e-01,  3.55796081e-01, -3.16459229e-02,  1.96164999e-01,
       -2.47223858e-03, -4.52481823e-01,  1.66245299e-01, -2.93382076e-01,
       -3.40631342e-01,  1.80403079e-01,  3.03055573e-01, -2.95328185e-01,
       -2.98346728e-01, -3.31564686e-01,  2.04825347e-01, -3.92693500e-01,
        4.28797001e-01,  3.45469346e-01, -1.15667594e-01,  1.72544427e-01,
        7.54350082e-02, -3.35697373e-01, -1.79756718e-02,  1.30804377e-01,
       -3.11448991e-02,  1.44798226e-01,  3.30246952e-01, -3.00071490e-01,
        5.96378696e-02,  2.22681705e-01, -1.83500144e-01, -1.71932766e-01,
        4.21750763e-01,  3.98728001e-01,  4.03937202e-01, -7.68804707e-01,
        7.84200998e-01,  3.17456109e-01, -1.80782598e-01,  6.23828367e-01,
       -8.74051740e-02, -3.86916213e-01,  7.20580829e-02, -1.19672664e-01,
       -2.58965369e-01,  6.61919814e-02,  5.12167831e-01,  3.18776387e-01,
        5.02251496e-02, -2.20426276e-01, -2.67843566e-01, -1.52615481e-01,
       -4.78974523e-01,  7.90593401e-01, -6.53846267e-02,  2.92568243e-02,
        2.24077403e-01,  2.89037465e-01,  5.87827277e-01,  2.11450993e-01,
        1.06861159e-01,  2.52918446e-01,  3.11758810e-01,  3.90985614e-01,
        5.18511737e-01,  2.06623523e-01, -1.71512719e+00,  1.39858968e-03,
        1.72564517e-01,  4.44263965e-01,  3.31205417e-01,  6.06834831e-02,
       -2.55414035e-01, -1.12608619e+00, -3.28554307e-01,  2.54250932e-02,
        1.61856042e-01, -6.98886323e-02,  1.55959226e-01,  4.51049687e-01,
        5.56620402e-02, -4.04542720e-02,  7.26467913e-01, -3.16446662e-01,
       -2.45991883e-01,  5.30453159e-01,  1.46830377e-01,  7.88848714e-01,
        1.49244288e-01,  6.61754818e-01,  5.41985058e-01,  3.31971027e-01,
        1.82874484e-02, -1.07652679e-01, -2.26317488e-01, -7.79254316e-02,
       -1.79246185e-02, -1.72154643e-01, -1.30940038e-01,  4.44048005e-01,
       -5.54372801e-02, -1.12446928e-01, -2.79689835e-01, -3.98950681e-01,
        5.45683714e-01,  6.08969118e-02, -3.83746207e-01, -6.03379276e-01,
       -3.77122163e-01,  2.19135765e-01,  5.60021978e-02, -1.16168054e-01,
       -1.77763928e-01,  4.60362559e-01, -5.56099131e-01,  7.90910904e-02,
        3.03217272e-01, -2.01996128e-01, -5.50343191e-01, -5.43121233e-01,
       -5.56902917e-01,  2.35261643e-01,  4.38805053e-01, -2.97281185e-02,
        9.84686497e-02, -3.23024564e-02, -1.95533949e-01,  4.26962908e-01,
       -1.18076786e-01,  1.31875743e-01,  2.57688912e-01, -6.14522433e-01,
        2.07641945e-01,  4.14595651e-01, -8.74531088e-01, -1.63251930e-01,
       -9.18588211e-03,  6.37765253e-01,  2.79995595e-01,  1.98992277e-01,
        6.83901877e-01, -5.29240019e-01, -3.72650115e-01,  9.82602942e-02,
        6.60198987e-01,  3.57447221e-01, -4.33265479e-01,  1.37658695e-01,
       -1.32409711e+00,  3.13242489e-02,  6.00684859e-01, -4.26367409e-01,
       -8.04199308e-01, -8.21022794e-02,  1.55226950e-01, -1.49744232e-01,
        3.00208277e-01, -6.17907818e-02,  2.81568414e-01, -1.95706371e-01,
       -2.35696407e-01,  1.82603771e-01,  4.75568040e-01,  4.88406507e-01,
        7.92747504e-03, -1.88847551e-01,  4.62018923e-01, -6.52194395e-01,
       -5.74487313e-01, -8.84080855e-02,  3.92354184e-01,  4.79706046e-01,
        1.99755918e-01, -9.47266599e-02,  1.41358716e-01,  1.70335432e-01])

**find interception**

In [ ]:
#find interception
linreg.intercept_

4.2321479002381475

**prediction**

In [ ]:
#prediction
linreg.predict(tfidf_df)

array([4.23592256, 4.19417748, 4.16506544, ..., 4.4559338 , 4.43368875,
       4.07244581])

In [ ]:
#predict overall score
review_data['predicted_score_from_linear_regression']=linreg.predict(tfidf_df)
review_data[['overall','predicted_score_from_linear_regression']].head(20)

    overall  predicted_score_from_linear_regression
0         5                                4.235923
1         5                                4.194177
2         5                                4.165065
3         5                                4.099515
4         5                                4.824218
5         5                                4.970740
6         5                                4.488011
7         3                                3.850576
8         5                                4.966805
9         5                                4.246506
10        5                                4.212390
11        4                                3.976095
12        3                                3.850072
13        5                                4.843491
14        5                                4.791663
15        2                                4.091931
16        4                                4.364836
17        5                                4.986286
18        5                                4.493178
19        5                                4.948876

**implement decision tree classifier**

In [ ]:
#implement decision tree classifier
from sklearn import tree
dtc=tree.DecisionTreeClassifier()
dtc=dtc.fit(tfidf_df,review_data['target'])
review_data['predicted_labels_dtc']=dtc.predict(tfidf_df)

pd.crosstab(review_data['target'],review_data['predicted_labels_dtc'])

predicted_labels_dtc     0     1
target
0                     3322     1
1                        0  6938

**implement decision tree regression**

In [ ]:
#implement decision tree regression
from sklearn import tree
dtr=tree.DecisionTreeRegressor()
dtr=dtr.fit(tfidf_df,review_data['overall'])
review_data['predicted_values_dtr']=dtr.predict(tfidf_df)
review_data[['predicted_values_dtr','overall']].head(10)

   predicted_values_dtr  overall
0                   5.0        5
1                   5.0        5
2                   5.0        5
3                   5.0        5
4                   5.0        5
5                   5.0        5
6                   5.0        5
7                   3.0        3
8                   5.0        5
9                   5.0        5

**generic function for classier models**

In [ ]:
#generic function for classier models
def clf_model(model_type,X_train,y):
  model=model_type.fit(X_train,y)
  predicted_labels=model.prdict(tfidf_df)
  return predicted_labels

**implement random forest classifier**

In [ ]:
#implement random forest classifier
import sklearn
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=20,max_depth=4,max_features='sqrt',random_state=1)
review_data['predicted_labels_rfc']=clf_model(rfc,tfidf_df,review_data['target'])
pd.crosstab(review_data['target'],review_data['predicted_labels_rfc'])

**implement GBM classifier**

In [ ]:
#implement GBM classifier
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier(n_estimators=2,max_depth=3,max_features='sqrt',random_state=1)
review_data['predicted_labels_gbc']=clf_model(gbc,tfidf_df,review_data['target'])
pd.crosstab(review_data['target'],review_data['predicted_labels_gbc'])

**implement XGBoost classifier**

In [ ]:
#implement XGBoost classifier
from xgboost import XGBClassifier
xgb_clf=XGBClassifier(n_estimators=20,learning_rate=0.03,max_depth=5,subsample=0.6,colsample_bytree=0.6,reg_alpha=10,seed=42)
review_data['predicted_labels_xgbc']=clf_model(xgb_clf,tfidf_df,review_data['target'])
pd.crosstab(review_data['target'],review_data['predicted_labels_xgbc'])

**generic function for regression models**

In [ ]:
def reg_model(model_type,X_train,y):
  model=model_type.fit(X_train,y)
  predicted_values=model.predict(tfidf_df)
  return predicted_values

**implement Random Forest Regressor**

In [ ]:
#implement Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
rfg=RandomForestRegressor(n_estimators=20,max_depth=4,max_features='sqrt',random_state=1)
review_data['predicted_values_rfg']=reg_model(rfg,tfidf_df,review_data['overall'])
review_data[['overall','predicted_values_rfg']].head(10)

**implement GradientBoostingRegressor**

In [ ]:
#implement GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor(n_estimators=20,max_depth=4,max_features='sqrt',random_state=1)
review_data['predicted_values_gbr']=reg_model(gbr,tfidf_df,review_data['overall'])
review_data[['overall','predicted_values_rfg']].head(10)

**implement XGBRegressor**

In [ ]:
#implement XGBRegressor
from xgboost import XGBRegressor
xgbr=XGBRegressor(n_estimators=20,learning_rate=0.03,max_depth=5,subsample=0.6,colsample_bytree=0.6,reg_alpha=10,seed=42)
review_data['predicted_values_xgbr']=reg_model(xgbr,tfidf_df,review_data['overall'])
review_data[['overall','predicted_values_xgbr']].head(10)

**sampling**

In [ ]:
#sampling
import pandas as pd
data=pd.read_csv('cancerdata.csv')
data.head()

**simple sampling**

In [ ]:
#simple sampling
data_sample_random=data.sample(frac=0.1,random_state=42) #selecting 10% sample randomly
data_sample_random.head()

**stratified sampling**

In [ ]:
#stratified sampling
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data,data['diagnosis'],test_size=0.2,random_state=42,stratify=data['diagnosis'])
data.shape  #shape of the entire data

In [ ]:
X_train.shape    #shape of training model
#Multi-stage sampling (based on diagnosis find area_mean)
data_ms=data[data['diagnosis'].isin(['M'])]
data_ms_q2=data_ms[data_ms['area_mean']>=500]
data_ms_sample=data_ms_q2.sample(frac=0.02,random_state=42)
data_ms_sample.head()

**unsupervised learning**

**implement hierarchical clustering**

In [ ]:

#unsupervised learning
#implement hierarchical clustering
from sklearn.datasets import fetch_20newsgroups
import scipy
from scipy.cluster.hierarchy import dendrogram
import matplotlib as mpl
from scipy.cluster.hierarchy import fcluster
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter
from pylab import *
import warnings
warnings.filterwarnings('ignore')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

**remove the stopwords**

In [ ]:
#remove the stopwords
stop_words=stopwords.words('english')
stop_words=stop_words+list(string.printable)
lemmatizer=WordNetLemmatizer()

**specify the categories of the article**

In [ ]:
#specify the categories of the article
categories=['misc.forsale','sci.electronics','talk.religion.misc']

**fetch the dataset and view first five articles**

In [ ]:
#fetch the dataset and view first five articles
news_data=fetch_20newsgroups(subset='train',categories=categories,shuffle=True,random_state=42,download_if_missing=True)
news_data['data'][:5]

**check the categories and its nama**

In [ ]:
#check the categories and its nama
news_data.target

In [ ]:
news_data.target_names

**News data and corresponding categories in a Pandas dataframe**

In [ ]:
#News data and corresponding categories in a Pandas dataframe
news_data_df=pd.DataFrame({'text':news_data['data'],'category':news_data.target})
news_data_df.head()

**Count the number of occurrences of each category**

In [ ]:
#Count the number of occurrences of each category
news_data_df['category'].value_counts()

**cleaning the text such as tokenization, lemmatization etc**

In [ ]:
#cleaning the text such as tokenization, lemmatization etc
news_data_df['cleaned_text']=news_data_df['text'].apply(lambda x :''.join([lemmatizer.lemmatize(word.lower()) for word in word_tokenize(re.sub(r'([^\s\w]|_)+','',str(x))) if word.lower() not in stop_words]))

**create a TF-IDF matrix**

In [ ]:
#create a TF-IDF matrix
tfidf_model=TfidfVectorizer(max_features=200)
tfidf_df=pd.DataFrame(tfidf_model.fit_transform(news_data_df['cleaned_text']).todense())
tfidf_df.columns=sorted(tfidf_model.vocabulary_)
tfidf_df.head()

**create a distance matrix by subtracting the cosine similarities of the tf-idf representation of documents from number 1. The ward function is used to create a linkage matrix used in hierarchical clustering.**

In [ ]:
#create a distance matrix by subtracting the cosine similarities of the tf-idf representation of documents from number 1. The ward function is used to create a linkage matrix used in hierarchical clustering.
dist=1-cosine_similarity(tfidf_df)
linkage_matrix=ward(dist)

**truncate the dendrogram to keep last four clusters. Leaf_rotation denotes the angle by which leaf levels must be rotated. Leaf_font_size denotes the font size of leaf labels**

In [ ]:
#truncate the dendrogram to keep last four clusters. Leaf_rotation denotes the angle by which leaf levels must be rotated. Leaf_font_size denotes the font size of leaf labels
plt.title('hierarchical clustering')
plt.xlabel('clustered document')
plt.ylabel('distance')
#showing only last p clusters after merging, p is the number of cluster that should remain after merging
dendrogram(linkage_matrix,truncate_mode='lastp',p=4,leaf_rotation=90,leaf_font_size=12)
plt.show()

**fcluster() function to obtain cluster labels of clusters obtained by hierarchical clustering**

In [ ]:
#fcluster() function to obtain cluster labels of clusters obtained by hierarchical clustering
k=4
clusters=fcluster(linkage_matrix,k,criterion='maxclust')
clusters

**crosstab to compare the clusters of actual and expected categories**

In [ ]:
#crosstab to compare the clusters of actual and expected categories
news_data_df['obtained_clusters']=clusters
pd.crosstab(news_data_df['category'].replace({0:'misc.forsale',1:'sci.electronics',2:'talk.religion.mis'}),news_data_df['obtained_clusters'].replace({1:'cluster 1',2:'cluster 2',3:'cluster_3',4:'cluster_4'}))

**implement K-means Clustering**

In [ ]:
#implement K-means Clustering
import pandas as pd
from sklearn.datasets import fetch_20newsgroups
import scipy
import numpy as np
import matplotlib.pyplot as plt
import re
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter
from pylab import *
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set()
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
from scipy.spatial.distance import cdist
from sklearn.cluster import KMeans

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

**remove the stopwords**

In [ ]:
#remove the stopwords
stop_words=stopwords.words('english')
stop_words=stop_words+list(string.printable)
lemmatizer=WordNetLemmatizer()

**specify the categories of the article**

In [ ]:
#specify the categories of the article
categories=['misc.forsale','sci.electronics','talk.religion.misc']

**fetch the dataset and view first five articles**

In [ ]:
#fetch the dataset and view first five articles
news_data=fetch_20newsgroups(subset='train',categories=categories,shuffle=True,random_state=42,download_if_missing=True)
news_data['data'][:5]

**check the categories and its name**

In [ ]:
#check the categories and its name
news_data.target

In [ ]:
news_data.target_names

**News data and corresponding categories in a Pandas dataframe**

In [ ]:
#News data and corresponding categories in a Pandas dataframe
news_data_df=pd.DataFrame({'text':news_data['data'],'category':news_data.target})
news_data_df.head()

**Count the number of occurrences of each category**

In [ ]:
#Count the number of occurrences of each category
news_data_df['category'].value_counts()

**cleaning the text such as tokenization, lemmatization etc**

In [ ]:
#cleaning the text such as tokenization, lemmatization etc
news_data_df['cleaned_text']=news_data_df['text'].apply(lambda x :''.join([lemmatizer.lemmatize(word.lower()) for word in word_tokenize(re.sub(r'([^\s\w]|_)+','',str(x))) if word.lower() not in stop_words]))

**create a TF-IDF matrix**

In [ ]:
#create a TF-IDF matrix
tfidf_model=TfidfVectorizer(max_features=200)
tfidf_df=pd.DataFrame(tfidf_model.fit_transform(news_data_df['cleaned_text']).todense())
tfidf_df.columns=sorted(tfidf_model.vocabulary_)
tfidf_df.head()

**k-means cluster**

In [ ]:
#k-means cluster
kmeans=KMeans(n_clusters=4)
kmeans.fit(tfidf_df)
y_kmeans=kmeans.predict(tfidf_df)
news_data_df['obtained_clusters']=y_kmeans

**crosstab to compare the clusters of actual and expected categories**

In [ ]:
#crosstab to compare the clusters of actual and expected categories
news_data_df['obtained_clusters']=clusters
pd.crosstab(news_data_df['category'].replace({0:'misc.forsale',1:'sci.electronics',2:'talk.religion.mis'}),news_data_df['obtained_clusters'].replace({1:'cluster 1',2:'cluster 2',3:'cluster_3',4:'cluster_4'}))

**obtain the optimal value value of k, ranging from 1 to 6.for each value of k, we store the distortion, that is the mean of distances of documents from their nearest cluster center. The value of k where the slope of the plot changes rapidly.**

In [ ]:
#obtain the optimal value value of k, ranging from 1 to 6.for each value of k, we store the distortion, that is the mean of distances of documents from their nearest cluster center. The value of k where the slope of the plot changes rapidly.
distortions=[]
K=range(1,6)
for k in K:
  kmeanModel=KMeans(n_clusters=k)
  kmeanModel.fit(tfidf_df)
  distortions.append(sum(np.min(cdist(tfidf_df,kmeanModel.cluster_centers_,'euclidean'),axis=1))/tfidf_df.shape[0])
plt.plot(K,distortions,'bx-')
plt.xlabel('k')
plt.ylabel('Distortion')
plt.title('Elbow Methos for optimal clusters')
plt.show()